.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-y-scroll {
  overflow: scroll;
}
