:root {
  --body-color: #f8f8f8;
  --body-secondary-color: #f5f5f5;
  --primary-color: #0292f4;
  --secnondary-color: #ff5e7d;
  --dark-color: #000000;
  --light-color: #ffffff;
  --gray-color: #61616161;
  --spacer: 2px;
}
